#white_bar {
    width: 100%;
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
    opacity: 1;
}
#white_bar_writing{
    color: red;
}

#page_footer_bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
}


.left-separate{
    float: left;
    width: 30%;
}
.right-separate{
    float: right;
    width: 70%
}


#no_button{
    float: right;
}

#info_button{
    margin: 0 auto;
    margin-left: 20%;
}

#yes_button{
    float: left;
}
