body {
    background-color: #fafafa;
}

#white-bar {
    width: 100%;
    top: 0;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 1;

}

#white_bar_writing {
    color: red;
}

#bottom-footer {
    /* height: 80px; */
}

.card-image > img {
    width: 100%;
}

#card-button {
    margin-bottom: 0;
}

#mister-flip-yo-card .back {
    overflow: hidden;
}

.clickable:hover {
    cursor: pointer;
}

.card-profile-image {
    width: 110px;
    position: absolute;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}

