{% extends "index.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>
{% endblock %}
{% block content %}
    <div class="parallax-container">
        <div class="parallax"><img src="/static/ressources/futuredoggo.jpg"></div>
    </div>
    <div class="container">
        <div class="section white">
            <div class="row">
                <h1 class="header">About</h1>
                <p>Tnider &copy; is a trading site for rescued animal. It is designed to offer a chance for abandoned animals to find a new welcoming home.
                    As of today, the site is still in developpement. You will observe that anybody can sell animals. This is a temporary feature
                    used for testing purpose. As the site is deployed, animal sellers will only be able to be registered animal shelters or SPCA.
                    This is to prevent the exploitation of animal by clandestine/unregistered breeder. As of now, Tnider only supports the selling of cats, dogs and birds,
                    but we will be extending this list very soon.
                </p>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="/static/ressources/blackdoggo.jpg"></div>
    </div>
{% endblock %}

