{% extends "index.html" %}
{% block title %}Account{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<div class="section white">
    <div class="row">
        <div class="card s12">
            <div class="card-content">
                <p>NOM PIS TOUTE</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="collection">
            <a href="account-info" class="collection-item {% block infoaction%}{% endblock %}">Infos</a>
            <a href="account-transactions" class="collection-item {% block transactionaction%}{% endblock %}">Transactions</a>
            <a href="account-preferences" class="collection-item {% block prefaction%}{% endblock %}">Preferences</a>
        </div>
    </div>
    <div class="s12 m9">
        {% block account %}
        {% endblock %}
    </div>
</div>

{% endblock %}