{% extends "account.html" %}
{% block title %}Account - Preferences{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block transactionaction %}active{% endblock %}
{% block account %}
    <div class="col s12 m9">
        <h3>Sold</h3>
        <table class="highlight responsive-table">
            <thead>
            <tr>
                <th>Sold to</th>
                <th>Animal sold</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in sold %}
                <tr>
                    <td>{{ transaction['buyer'] }}</td>
                    <td>{{ transaction['nom'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3>Bought</h3>
        <table class="highlight responsive-table">
            <thead>
            <tr>
                <th>Bought from</th>
                <th>Animal bought</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in bought %}
                <tr>
                    <td>{{ transaction['seller'] }}</td>
                    <td>{{ transaction['nom'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
