{% extends "account.html" %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">

        {# PLEAZE DEBUG ME pref is alwats empty #}
        {#        console.log({{pref[0]}});#}
        {#        for (let i = 0, n = {{ pref|length }}; i < n; i++) {#}
        {#            let checkbox = document.getElementsByName({{ pref[i] }});#}
        {#            console.log(checkbox);#}
        {#        }#}

    </script>
    <script>
        //https://stackoverflow.com/questions/386281/how-to-implement-select-all-check-box-in-html
        function toggleKitteh(source) {
            let checkboxes = document.getElementsByClassName('cat');
            for (let i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
                checkboxes[i].disabled = (source.checked) ? '' : 'disabled';

            }

            let radioButtonsColors = document.getElementsByClassName('grpColorCat');
            for (let j = 0, n = radioButtonsColors.length; j < n; j++) {
                radioButtonsColors[j].checked = source.checked;
                radioButtonsColors[j].disabled = (source.checked) ? '' : 'disabled';
            }

            let checkBoxGender = document.getElementsByClassName('grpGenderCat');
            for (let k = 0, n = checkBoxGender.length; k < n; k++) {
                checkBoxGender[k].checked = source.checked;
                checkBoxGender[k].disabled = (source.checked) ? '' : 'disabled';
            }

            let checkBoxWeight = document.getElementsByClassName("grpWeightCat");
            for (let l = 0, n = checkBoxWeight.length; l < n; l++) {
                checkBoxWeight[l].checked = source.checked;
                checkBoxWeight[l].disabled = (source.checked) ? '' : 'disabled';
            }

            let checkBoxAge = document.getElementsByClassName("grpAgeCat");
            for (let m = 0, n = checkBoxAge.length; m < n; m++) {
                checkBoxAge[m].checked = source.checked;
                checkBoxAge[m].disabled = (source.checked) ? '' : 'disabled';
            }
        }

        function toggleDoggo(source) {
            let checkboxes = document.getElementsByClassName('doggo');
            for (let i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
                checkboxes[i].disabled = (source.checked) ? '' : 'disabled';
            }

            let checkBoxColor = document.getElementsByClassName('grpColorDoggo');
            for (let j = 0, n = checkBoxColor.length; j < n; j++) {
                checkBoxColor[j].checked = source.checked;
                checkBoxColor[j].disabled = (source.checked) ? '' : 'disabled';
            }

            let checkBoxGender = document.getElementsByClassName('grpGenderDoggo');
            for (let k = 0, n = checkBoxGender.length; k < n; k++) {
                checkBoxGender[k].checked = source.checked;
                checkBoxGender[k].disabled = (source.checked) ? '' : 'disabled';
            }

            let checkBoxWeight = document.getElementsByClassName("grpWeightDoggo");
            for (let l = 0, n = checkBoxWeight.length; l < n; l++) {
                checkBoxWeight[l].checked = source.checked;
                checkBoxWeight[l].disabled = (source.checked) ? '' : 'disabled';
            }

            let checkBoxAge = document.getElementsByClassName("grpAgeDoggo");
            for (let m = 0, n = checkBoxAge.length; m < n; m++) {
                checkBoxAge[m].checked = source.checked;
                checkBoxAge[m].disabled = (source.checked) ? '' : 'disabled';
            }


        }

        function toggleBirb(source) {
            let checkBoxColor = document.getElementsByClassName('grpColorBirb');
            for (let i = 0, n = checkBoxColor.length; i < n; i++) {
                checkBoxColor[i].checked = source.checked;
                checkBoxColor[i].disabled = (source.checked) ? '' : 'disabled';
            }

            let checkBoxGender = document.getElementsByClassName('grpGenderBirb');
            for (let j = 0, n = checkBoxGender.length; j < n; j++) {
                checkBoxGender[j].checked = source.checked;
                checkBoxGender[j].disabled = (source.checked) ? '' : 'disabled';
            }

            let checkBoxAge = document.getElementsByClassName('grpAgeBirb');
            for (let k = 0, n = checkBoxAge.length; k < n; k++) {
                checkBoxAge[k].checked = source.checked;
                checkBoxAge[k].disabled = (source.checked) ? '' : 'disabled';
            }

            let checkBoxWeight = document.getElementsByClassName('grpWeightBirb');
            for (let l = 0, n = checkBoxWeight.length; l < n; l++) {
                checkBoxWeight[l].checked = source.checked;
                checkBoxWeight[l].disabled = (source.checked) ? '' : 'disabled';
            }
        }
    </script>
{% endblock %}
{% block prefaction %}active{% endblock %}
{% block account %}
    <div class="col s12 m9">
        <form id="preferences">
            <ul class="collection with-header col s12 m4">
                <li class="collection-header"><input type="checkbox" id="kitteh" name="kitteh" onclick="toggleKitteh(this)"/><label
                        style="color: black" for="kitteh">Kitteh</label>
                </li>

                <li class="collection-item"><input class="cat" type="checkbox" name="declawedCat" id="declawedCat"
                                                   disabled="disabled"><label
                        for="declawedCat">Declawed </label></li>
                <li class="collection-item"><input class="cat" type="checkbox" name="castratedCat" id="castratedCat"
                                                   disabled="disabled"><label
                        for="castratedCat">Castrated</label></li>


                <li class="collection-item">Color</li>

                <li class="collection-item"><input type="checkbox" class="grpColorCat" name="gingerCat" id="gingerCat"
                                                   disabled="disabled"/><label for="gingerCat">Ginger </label></li>

                <li class="collection-item"><input type="checkbox" class="grpColorCat" name="greyCat" id="greyCat"
                                                   disabled="disabled"/><label for="greyCat">Grey </label></li>

                <li class="collection-item"><input type="checkbox" class="grpColorCat" name="brownCat" id="brownCat"
                                                   disabled="disabled"/><label for="brownCat">Brown </label></li>

                <li class="collection-item"><input type="checkbox" class="grpColorCat" name="whiteCat" id="whiteCat"
                                                   disabled="disabled"/><label for="whiteCat">White </label></li>

                <li class="collection-item"><input type="checkbox" class="grpColorCat" name="blackCat" id="blackCat"
                                                   disabled="disabled"/><label for="blackCat">Black </label></li>


                <li class="collection-item">Weight (lbs)</li>
                <li class="collection-item"><input type="checkbox" class="grpWeightCat" name="0_10WeightCat"
                                                   id="0_10WeightCat"
                                                   disabled="disabled"/><label for="0_10WeightCat">0 - 10 </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpWeightCat" name="10_20WeightCat"
                                                   id="10_20WeightCat"
                                                   disabled="disabled"/><label for="10_20WeightCat">10 - 20 </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpWeightCat" name="20PlusWeightCat"
                                                   id="20PlusWeightCat"
                                                   disabled="disabled"/><label for="20PlusWeightCat">20+ </label>
                </li>


                <li class="collection-item">Age</li>
                <li class="collection-item"><input type="checkbox" class="grpAgeCat" name="0_5AgeCat" id="0_5AgeCat"
                                                   disabled="disabled"/><label for="0_5AgeCat">0 - 5 </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpAgeCat" name="5_10AgeCat" id="5_10AgeCat"
                                                   disabled="disabled"/><label for="5_10AgeCat">5 - 10 </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpAgeCat" name="10PlusAgeCat"
                                                   id="10PlusAgeCat"
                                                   disabled="disabled"/><label for="10PlusAgeCat">10+ </label>
                </li>


                <li class="collection-item">Gender</li>


                <li class="collection-item"><input type="checkbox" class="grpGenderCat" name="maleGenderCat"
                                                   id="maleGenderCat"
                                                   disabled="disabled"/><label for="maleGenderCat">Male </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpGenderCat" name="femaleGenderCat"
                                                   id="femaleGenderCat"
                                                   disabled="disabled"/><label for="femaleGenderCat">Female </label>
                </li>


            </ul>

            <ul class="collection with-header col s12 m4">
                <li class="collection-header"><input type="checkbox" id="doggo" name="doggo" onclick="toggleDoggo(this)"/><label
                        style="color: black" for="doggo">Doggo</label>
                </li>
                <li class="collection-item"><input class="doggo" type="checkbox" name="declawedDoggo" id="declawedDoggo"
                                                   disabled="disabled"><label
                        for="declawedDoggo">Declawed</label></li>
                <li class="collection-item"><input type="checkbox" class="doggo" name="castratedDoggo"
                                                   id="castratedDoggo"
                                                   disabled="disabled"><label
                        for="castratedDoggo">Castrated</label></li>


                <li class="collection-item">Color</li>
                <li class="collection-item"><input type="checkbox" class="grpColorDoggo" name="gingerDoggo"
                                                   id="gingerDoggo"
                                                   disabled="disabled"/><label for="gingerDoggo">Ginger </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpColorDoggo" name="greyDoggo" id="greyDoggo"
                                                   disabled="disabled"/><label for="greyDoggo">Grey </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpColorDoggo" name="brownDoggo"
                                                   id="brownDoggo"
                                                   disabled="disabled"/><label for="brownDoggo">Brown </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpColorDoggo" name="whiteDoggo"
                                                   id="whiteDoggo"
                                                   disabled="disabled"/><label for="whiteDoggo">White </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpColorDoggo" name="blackDoggo"
                                                   id="blackDoggo"
                                                   disabled="disabled"/><label for="blackDoggo">Black </label>
                </li>


                <li class="collection-item">Weight (lbs)</li>
                <li class="collection-item"><input type="checkbox" class="grpWeightDoggo" name="0_20WeightDoggo"
                                                   id="0_20WeightDoggo"
                                                   disabled="disabled"/><label for="0_20WeightDoggo">0 - 20 </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpWeightDoggo" name="20_40WeightDoggo"
                                                   id="20_40WeightDoggo"
                                                   disabled="disabled"/><label for="20_40WeightDoggo">20 - 40 </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpWeightDoggo" name="40WeightPlusDoggo"
                                                   id="40WeightPlusDoggo"
                                                   disabled="disabled"/><label for="40WeightPlusDoggo">40+ </label>
                </li>


                <li class="collection-item">Age</li>
                <li class="collection-item"><input type="checkbox" class="grpAgeDoggo" name="0_5AgeDoggo"
                                                   id="0_5AgeDoggo"
                                                   disabled="disabled"/><label for="0_5AgeDoggo">0 - 5 </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpAgeDoggo" name="5_10AgeDoggo"
                                                   id="5_10AgeDoggo"
                                                   disabled="disabled"/><label for="5_10AgeDoggo">5 - 10 </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpAgeDoggo" name="10AgePlusDoggo"
                                                   id="10AgePlusDoggo"
                                                   disabled="disabled"/><label for="10AgePlusDoggo">10+ </label>
                </li>


                <li class="collection-item">Gender</li>

                <li class="collection-item"><input type="checkbox" class="grpGenderDoggo" name="maleGenderDoggo"
                                                   id="maleGenderDoggo" disabled="disabled"/><label
                        for="maleGenderDoggo">Male </label></li>

                <li class="collection-item"><input type="checkbox" class="grpGenderDoggo" name="femaleGenderDoggo"
                                                   id="femaleGenderDoggo"
                                                   disabled="disabled"/><label
                        for="femaleGenderDoggo">Female </label></li>


            </ul>


            <ul class="collection with-header col s12 m4">
                <li class="collection-header"><input type="checkbox" id="birb" name="birb" onclick="toggleBirb(this)"/><label
                        style="color: black" for="birb">Birb</label>
                </li>
                <li class="collection-item">Color</li>

                <li class="collection-item"><input type="checkbox" class="grpColorBirb" name="yellowBirb"
                                                   id="yellowBirb"
                                                   disabled="disabled"/><label for="yellowBirb">Yellow </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpColorBirb" name="greenBirb" id="greenBirb"
                                                   disabled="disabled"/><label for="greenBirb">Green </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpColorBirb" name="whiteBirb" id="whiteBirb"
                                                   disabled="disabled"/><label for="whiteBirb">White </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpColorBirb" name="blueBirb" id="blueBirb"
                                                   disabled="disabled"/><label for="whiteDoggo">Blue </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpColorBirb" name="blackBirb" id="blackBirb"
                                                   disabled="disabled"/><label for="blackBirb">Black </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpColorBirb" name="beigeBirb" id="beigeBirb"
                                                   disabled="disabled"/><label for="beigeBirb">Beige </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpColorBirb" name="greyBirb" id="greyBirb"
                                                   disabled="disabled"/><label for="greyBirb">Grey </label></li>


                <li class="collection-item">Weight (lbs)</li>
                <li class="collection-item"><input type="checkbox" class="grpWeightBirb" name="0_1WeightBirb"
                                                   id="0_1WeightBirb"
                                                   disabled="disabled"/><label for="0_1WeightBirb">0 - 1 </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpWeightBirb" name="1_2WeightBirb"
                                                   id="1_2WeightBirb"
                                                   disabled="disabled"/><label for="1_2WeightBirb">1 - 2 </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpWeightBirb" name="2PlusWeightBirb"
                                                   id="2PlusWeightBirb"
                                                   disabled="disabled"/><label for="2PlusWeightBirb">2+ </label>
                </li>


                <li class="collection-item">Age</li>
                <li class="collection-item"><input type="checkbox" class="grpAgeBirb" name="0_5AgeBirb" id="0_5AgeBirb"
                                                   disabled="disabled"/><label for="0_5AgeBirb">0 - 5 </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpAgeBirb" name="5_10AgeBirb"
                                                   id="5_10AgeBirb"
                                                   disabled="disabled"/><label for="5_10AgeBirb">5 - 10 </label>
                </li>

                <li class="collection-item"><input type="checkbox" class="grpAgeBirb" name="10AgePlusBirb"
                                                   id="10AgePlusBirb"
                                                   disabled="disabled"/><label for="10AgePlusBirb">10+ </label>
                </li>


                <li class="collection-item">Gender</li>
                <li class="collection-item"><input type="checkbox" class="grpGenderBirb" name="maleBirb" id="maleBirb"
                                                   disabled="disabled"/><label for="maleBirb">Male </label></li>

                <li class="collection-item"><input type="checkbox" class="grpGenderBirb" name="femaleBirb"
                                                   id="femaleBirb"
                                                   disabled="disabled"/><label for="femaleBirb">Female </label>
                </li>

            </ul>
            <button type="submit" class="btn red waves-effect waves-light" name="Save" value="Save">Save</button>
        </form>
    </div>
{% endblock %}


