{% extends "account.html" %}
{% block title %}Account - Preferences{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('.modal').modal();
        });

        function update(field) {
            if (document.getElementById(field).value) {
                document.getElementById('change').href = '/account/info/change/' + field + '=' + document.getElementById(field).value;
                document.getElementById('change').click()
            }
        }

        function updateImage(field) {
            if (document.getElementById(field).value) {
                document.getElementById('change').href = '/account/info/change/image/' + field + '=' + document.getElementById(field).value;
                document.getElementById('change').click()
            }
        }
    </script>

{% endblock %}
{% block infoaction %}active{% endblock %}
{% block account %}
    <a href="" id="change" style="display: none"></a>
    <div id="change_profileImage" class="modal">
        <div class="modal-content">
            <input type="text" id="profileImage"/><label for="profileImage">Profile Image Link</label>
            <a onclick="updateImage('profileImage')" class="btn red waves-effect waves-light red">UPDATE</a>
        </div>
    </div>
    <div id="add_fund" class="modal">
        <div class="modal-content">
            <input type="number" id="solde"/><label for="solde">Solde</label>
            <a onclick="update('solde')" class="btn red waves-effect waves-light">UPDATE</a>
        </div>
    </div>
    <div id="change_username" class="modal">
        <div class="modal-content">
            <input type="text" id="username"/><label for="username">Username</label>
            <a onclick="update('username')" class="btn red waves-effect waves-light">UPDATE</a>
        </div>
    </div>
    <div id="change_firstname" class="modal">
        <div class="modal-content">
            <input type="text" id="prenom"/><label for="prenom">First Name</label>
            <a onclick="update('prenom')" class="btn red waves-effect waves-light">UPDATE</a>
        </div>
    </div>
    <div id="change_lastname" class="modal">
        <div class="modal-content">
            <input type="text" id="nom"/><label for="nom">Last Name</label>
            <a onclick="update('nom')" class="btn red waves-effect waves-light">UPDATE</a>
        </div>
    </div>
    <div id="change_email" class="modal">
        <div class="modal-content">
            <input type="email" id="email"/><label for="email">Email</label>
            <a onclick="update('email')" class="btn red waves-effect waves-light">UPDATE</a>
        </div>
    </div>
    <div id="change_phone" class="modal">
        <div class="modal-content">
            <input type="text" id="telephone"/><label for="telephone">Telephone</label>
            <a onclick="update('telephone')" class="btn red waves-effect waves-light">UPDATE</a>
        </div>
    </div>

    <div id="change_password" class="modal">
        <div class="modal-content">
            <input type="password" id="pass"/><label for="pass">Password</label>
            <a onclick="update('pass')" class="btn red waves-effect waves-light">UPDATE</a>
        </div>
    </div>
    <div class="col s12 m9">
        <ul class="collection with-header">
            <li class="collection-item">
                <div><b>Username: </b>{{ current_user.username }}<a href="#change_username"
                                                                    class="secondary-content modal-trigger"><i
                        class="fas fa-pencil-alt"></i></a></div>
            </li>
            <li class="collection-item">
                <div><b>Last name: </b>{{ current_user.nom }}<a href="#change_lastname"
                                                                class="secondary-content modal-trigger"><i
                        class="fas fa-pencil-alt"></i></a></div>
            </li>
            <li class="collection-item">
                <div><b>First name: </b>{{ current_user.prenom }}<a href="#change_firstname"
                                                                    class="secondary-content modal-trigger"><i
                        class="fas fa-pencil-alt"></i></a></div>
            </li>
            <li class="collection-item">
                <div><b>Email: </b>{{ current_user.email }}</div>
            </li>
            <li class="collection-item">
                <div><b>Phone: </b>{{ current_user.telephone }}<a href="#change_phone"
                                                                  class="secondary-content modal-trigger"><i
                        class="fas fa-pencil-alt"></i></a></div>
            </li>
            <li class="collection-item">
                <div><b>Profile Image: </b>{{ current_user.profileImage }}<a href="#change_profileImage"
                                                                             class="secondary-content modal-trigger"><i
                        class="fas fa-pencil-alt"></i></a></div>
            </li>
            <li class="collection-item">
                <div><b>Password: </b>**********<a href="#change_password"
                                                   class="secondary-content modal-trigger"><i
                        class="fas fa-pencil-alt"></i></a></div>
            </li>
        </ul>

        <p>Reset all not desired animals</p>
        <a class="btn red waves-effect waves-light btn" href="/deletenotdesired">Reset</a>

        <p>Add more funds to your account</p>
        <a class="btn red waves-effect waves-light modal-trigger" href="#add_fund">Add funds</a>
    </div>
{% endblock %}
