{% extends "index.html" %}
{% block title %}Add Animal{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
        $('#textarea1').val('New Text');
        $('#textarea1').trigger('autoresize');
    </script>

{% endblock %}
{% block content %}

    <!-- https://codepen.io/mblarsen/pen/mVZRMM -->
    <div class="valign-wrapper row login-box">
        <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a href="#Bird">Bird</a></li>
                    <li class="tab"><a class="active" href="#Dog">Dog</a></li>
                    <li class="tab"><a href="#Cat">Cat</a></li>
                </ul>
            </div>

            <div class="card-content">

                <div id="Dog">
                    <form method="post">

                        <div class="input-field col s12">
                            <label for="Name">Name</label>
                            <input type="text" class="validate" name="Name" id="Name"/>
                        </div>
                        <div class="input-field col s6">
                            <label for="Age">Age</label>
                            <input type="number" class="validate" name="Age" id="Age"/>
                        </div>

                        <div class="input-field col s6">
                            <select name="Sex">
                                <option value="" disabled selected>Select the sex</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>

                        <div class="input-field col s6">
                            <label for="poids">Weight (kg)</label>
                            <input type="number" class="validate" name="poids" id="poids">
                        </div>

                        <div class="input-field col s12">
                            <label for="location">Location</label>
                            <input type="text" class="validate" name="location" id="location">
                        </div>

                        <div class="input-field col s6">
                            <input type="text" class="validate" name="pelage" id="pelage">
                            <label for="pelage">Coat color</label>
                        </div>

                        <div class="input-field col s6">
                            <select name="castre">
                                <option value="" disabled selected>Castrated?</option>
                                <option value="1">Castrated</option>
                                <option value="2">Not castrated</option>
                            </select>
                        </div>

                        <div class="input-field col s6">
                            <select name="degriffe">
                                <option value="" disabled selected>Declawed?</option>
                                <option value="1">Declawed</option>
                                <option value="2">Not declawed</option>
                            </select>
                        </div>

                        <div class="input-field col s6">
                            <input type="number" step="0.01" class="validate" name="prix" id="prix">
                            <label for="prix">Price</label>
                        </div>

                        <div class="input-field col s12">
                            <input type="url" class="validate" name="picture" id="picture">
                            <label for="picture">Picture URL</label>
                        </div>

                        <div class="input-field col s12">
                            <textarea name="description" id="description" class="materialize-textarea"></textarea>
                            <label for="description">Description</label>
                        </div>

                        <div class="row"></div>

                        <div class="card-action right-align">
                            <button value="Reset" type="reset" id="reset sign up"
                                    class="btn-flat grey-text waves-effect">
                                Reset
                            </button>
                            <button type="submit" name="btn" id="addDog" class="btn red waves-effect waves-light"
                                    value="addDog">Add Dog
                            </button>
                        </div>
                    </form>
                </div>

                <div id="Cat">
                    <form method="post">

                        <div class="input-field col s12">
                            <label for="Name">Name</label>
                            <input type="text" class="validate" name="Name" id="Name"/>
                        </div>
                        <div class="input-field col s6">
                            <label for="Age">Age</label>
                            <input type="number" class="validate" name="Age" id="Age"/>
                        </div>

                        <div class="input-field col s6">
                            <select name="Sex">
                                <option value="" disabled selected>Select the sex</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>

                        <div class="input-field col s6">
                            <label for="poids">Weight (kg)</label>
                            <input type="number" class="validate" name="poids" id="poids">
                        </div>

                        <div class="input-field col s12">
                            <label for="location">Location</label>
                            <input type="text" class="validate" name="location" id="location">
                        </div>

                        <div class="input-field col s6">
                            <input type="text" class="validate" name="pelage" id="pelage">
                            <label for="pelage">Coat color</label>
                        </div>

                        <div class="input-field col s6">
                            <select name="castre">
                                <option value="" disabled selected>Castrated?</option>
                                <option value="1">Castrated</option>
                                <option value="2">Not castrated</option>
                            </select>
                        </div>

                        <div class="input-field col s6">
                            <select name="degriffe">
                                <option value="" disabled selected>Declawed?</option>
                                <option value="1">Declawed</option>
                                <option value="2">Not declawed</option>
                            </select>
                        </div>

                        <div class="input-field col s6">
                            <input type="number" step="0.01" class="validate" name="prix" id="prix">
                            <label for="prix">Price</label>
                        </div>

                        <div class="input-field col s12">
                            <input type="url" class="validate" name="picture" id="picture">
                            <label for="picture">Picture URL</label>
                        </div>

                        <div class="input-field col s12">
                            <textarea name="description" id="description" class="materialize-textarea"></textarea>
                            <label for="description">Description</label>
                        </div>

                        <div class="row"></div>

                        <div class="card-action right-align">
                            <button value="Reset" type="reset" id="reset sign up"
                                    class="btn-flat grey-text waves-effect">
                                Reset
                            </button>
                            <button type="submit" name="btn" id="addCat" class="btn red waves-effect waves-light"
                                    value="addCat">Add Cat
                            </button>
                        </div>
                    </form>
                </div>

                <div id="Bird">
                    <form method="post">

                        <div class="input-field col s12">
                            <label for="Name">Name</label>
                            <input type="text" class="validate" name="Name" id="Name"/>
                        </div>
                        <div class="input-field col s6">
                            <label for="Age">Age</label>
                            <input type="number" class="validate" name="Age" id="Age"/>
                        </div>

                        <div class="input-field col s6">
                            <select name="Sex">
                                <option value="" disabled selected>Select the sex</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>

                        <div class="input-field col s6">
                            <label for="poids">Weight (kg)</label>
                            <input type="number" class="validate" name="poids" id="poids">
                        </div>

                        <div class="input-field col s12">
                            <label for="location">Location</label>
                            <input type="text" class="validate" name="location" id="location">
                        </div>

                        <div class="input-field col s6">
                            <label for="plumage">Plumage</label>
                            <input type="text" class="validate" name="plumage" id="plumage">
                        </div>

                        <div class="input-field col s6">
                            <label for="prix">Price</label>
                            <input type="number" step="0.01" class="validate" name="prix" id="prix">
                        </div>

                        <div class="input-field col s12">
                            <input type="url" class="validate" name="picture" id="picture">
                            <label for="picture">Picture URL</label>
                        </div>

                        <div class="input-field col s12">
                            <textarea name="description" id="description" class="materialize-textarea"></textarea>
                            <label for="description">Description</label>
                        </div>

                        <div class="row"></div>

                        <div class="card-action right-align">
                            <button value="Reset" type="reset" id="reset sign up"
                                    class="btn-flat grey-text waves-effect">
                                Reset
                            </button>
                            <button type="submit" name="btn" id="addBird" class="btn red waves-effect waves-light"
                                    value="addBird">Add Bird
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}