{% extends "index.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
    <div class="left_separate">Left content</div>

    <div class="right_separate">
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="/static/ressources/doggo.jpg">
                        <span class="card-title">Doggo Name</span>
                    </div>
                    <div class="card-content">
                        <p> I'm a doggo, plz boop me</p>
                    </div>
                    <div class="card-action">
                        <a class="btn-floating btn-large waves-effect waves-light red" id="yes_button"><img
                                src="/static/ressources/yes_button.png" height="50"></a>
                        <a class="btn-floating btn-large waves-effect waves-light red" id="no_button"><img
                                src="/static/ressources/no_button.jpeg" height="50"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
