{% extends "index.html" %}
{% block title %}Tnider - Contact us{% endblock %}
{% block head %}
{{ super() }}
<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>
{% endblock %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/ressources/birb.jpg"></div>
</div>
<div class="container">
    <div class="section white">
        <div class="row">
            <h1 class="header">Contact Us</h1>
            <p>
                Tnider &copy; is a product made for the course GLO-2005 : Modèles et langages des bases de données pour ingénieurs given at Université Laval.
                Should you have any question or commentary, please feel free to contact Olivier Gamache, Édouard Carré or Sébastien Paquet. We offer no garanty
                on the site functionnalities and take no responsability should any feature not work as intended. This site is a test version and still not ready for deployment.
                <br><br>
                The Tnider &copy; team

            </p>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/static/ressources/blackdoggo.jpg"></div>
</div>
{% endblock %}
