{% extends "index.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        $("#reset").on("click", function () {
            $('label').removeClass('active');
        });
    </script>
{% endblock %}
{% block content %}
    <!-- https://codepen.io/mblarsen/pen/mVZRMM -->
    <div class="valign-wrapper row login-box">
        <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a href="#signin">Sign In</a></li>
                    <li class="tab"><a class="active" href="#signup">Sign Up</a></li>
                </ul>
            </div>
            <form>
                <div class="card-content">
                    <div id="signin">
                        <span class="card-title">Enter credentials</span>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="email">Email address</label>
                                <input type="email" class="validate" name="email" id="email"/>
                            </div>
                            <div class="input-field col s12">
                                <label for="password">Password </label>
                                <input type="password" class="validate" name="password" id="password"/>
                            </div>
                        </div>
                    </div>
                     <div id="signup">
                        <span class="card-title">Enter credentials</span>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="email">Email address</label>
                                <input type="email" class="validate" name="email" id="email"/>
                            </div>
                            <div class="input-field col s12">
                                <label for="password">Password </label>
                                <input type="password" class="validate" name="password" id="password"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action right-align">
                    <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
                    <input type="submit" class="btn red waves-effect waves-light" value="Login">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

