<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/static/css/materialize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/ressources/favicon.png">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Tnider</title>
    {% endblock %}
    <meta charset="UTF-8">
</head>

<header>
    <nav>
        <div class="nav-wrapper" id="white_bar">
            <a href="/" class="brand-logo"><img src="/static/ressources/tnider.png" height="50"</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a id="white_bar_writing" href="/about">About</a></li>
                <li><a id="white_bar_writing" href="/contact_us">Contact us </a></li>
                <li><a id="white_bar_writing" href="/">Account</a></li>
            </ul>
        </div>
    </nav>
</header>

<body>
<div id="content">{% block content %}{% endblock %}</div>
<div class="page-footer" id="page_footer_bottom">
    {% block footer %}
    &copy; Copyright 2018 by us
    <a href="/about">About </a>.
    <a href="/contact_us">Contact us </a>
    {% endblock %}
</div>
</body>
</html>
</html>
