<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/static/js/materialize.js"></script>
        <script>$(".dropdown-trigger").dropdown();</script>
        <link rel="stylesheet" href="/static/css/materialize.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/static/ressources/favicon.png">
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <title>{% block title %}{% endblock %} - Tnider</title>
        <style>
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }
        </style>
    {% endblock %}
    <meta charset="UTF-8">
</head>

<header>
    <nav>
        <div class="nav-wrapper" id="white-bar">
            <a href="{% if current_user.is_authenticated %}/browse{% else %}/{% endif %}" class="brand-logo"><img
                    src="/static/ressources/tnider.png" height="50"</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a id="white_bar_writing" href="/about">About</a></li>
                <li><a id="white_bar_writing" href="/contact_us">Contact us </a></li>
                {% if current_user.is_authenticated %}
                    <li><a id="white_bar_writing" href="/account">Account</a></li>
                {% endif %}
                <li><a id="white_bar_writing"
                       href="{% if current_user.is_authenticated %}/logout{% else %}/#signin{% endif %}">{% if
                    current_user.is_authenticated %}Logout{% else %}Login{% endif %}</a></li>
            </ul>
        </div>
    </nav>
</header>

<body>
<main>{% block content %}{% endblock %}</main>
<div class="page-footer" id="bottom-footer">
    {% block footer %}
        <div class="center">
            <div class="row">
                <a href="/about">About </a>
                <a href="/contact_us">Contact us </a>
            </div>
            <div class="row">
                Tnider &copy; 2018
            </div>
        </div>
    {% endblock %}
</div>
</body>

</html>
