<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doggos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
<header>
    <div class="container">
        <img src="/static/ressources/tnider.png" height="50">
        <hr>
        <strong>
            <nav>
                <ul class="menu">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('signIn') }}">Sign In</a></li>
                    <li><a href="{{ url_for('signUp') }}">Sign Up</a></li>
                </ul>
            </nav>
        </strong>
    </div>

</header>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
